Repository onera/CoMMA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job:init, CoMMA, test_a, pages

.gitlab-ci.yml:

# Prevent duplicated pipeline by removing MR pipelines # We leave it so that the pipeline badge is good
#workflow:
#  rules:
#    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
#      when: never
#    - when: always
variables:
  GIT_STRATEGY: none # Do nothing by default. It will be done once in init, then other we reuse it
  GIT_SUBMODULE_STRATEGY: none

#Common to all stages
default:
  tags: # Use shell instead of submitting pipeline to slurm
    - shell
  before_script:
    # Load python version, compilers
    - source /stck/rmilani/GitLab_CI_envs/CoMMA_env_el7.sh  # Centos7
    #- source /stck/rmilani/GitLab_CI_envs/CoMMA_env.sh  # Centos8

stages:
    - init
    - build
    - test
    - documentation

job:init:
    stage: init
    variables:
        GIT_STRATEGY: clone
        GIT_SUBMODULE_STRATEGY: none # Do it manually to avoid some unused submodules
    before_script:
        - module purge
        # Load python version, compilers
        - source /stck/rmilani/GitLab_CI_envs/CoMMA_env_el7.sh
        - python3 -c "import gcovr" || python3 -m pip install --user gcovr
    only:
        changes:
            - CoMMA_lib/*.{cpp,h}
            - tests/**/*.{cpp,h}
            - CMakeLists.txt
            - .gitlab-ci.yml
            - Documentation/Doxyfile
    script:
        # Set a commun directory and make it available, Create it at the root dir, so that it is found
        # See https://docs.gitlab.com/ee/ci/variables/#pass-an-environment-variable-to-another-job
        - echo "CUSTOM_CI_DIR=$PWD" >> build.env
        # We do it manually since there is also perfetto which, however, is not used
        - git submodule update --init --depth 5 Catch2
        - git submodule update --init --depth 5 pybind11
    artifacts:
        reports:
            dotenv: ./build.env

CoMMA:
    stage: build
    needs: ['job:init']
    only:
        changes:
            - CoMMA_lib/*.{cpp,h}
            - tests/**/*.{cpp,h}
            - CMakeLists.txt
            - .gitlab-ci.yml
            - Documentation/Doxyfile
    script:
        - cd $CUSTOM_CI_DIR
        - mkdir -p build
        - cd build
        - cmake -DCODAFLAGS=On ..
        - make -j
    #artifacts:
    #    expire_in: 1 month
    #    paths:
    #        # The path is taken from the initial directory, hence we specify the full path
    #        - $CUSTOM_CI_DIR/build
test_a:
    stage: test
    needs: ['job:init', CoMMA]
    only:
        changes:
            - CoMMA_lib/*.{cpp,h}
            - tests/**/*.{cpp,h}
            - CMakeLists.txt
            - .gitlab-ci.yml
    script:
        - cd $CUSTOM_CI_DIR
        - cd build
        - ./Comma_test -r junit > test_a.xml
        - python3 -m gcovr --xml-pretty --exclude '\.\./pybind11/' --exclude '\.\./Catch2/' --print-summary -o coverage.xml --root ..
    coverage: /^\s*lines:\s*\d+.\d+\%/
    artifacts:
        expire_in: 1 month
        reports:
            # The path is taken from the initial directory, hence we specify the full path
            junit: $CUSTOM_CI_DIR/build/test_a.xml
            coverage_report:
                coverage_format: cobertura
                path: $CUSTOM_CI_DIR/build/coverage.xml
pages:
    stage: documentation
    needs: ['job:init'] #job:init is needed to get dotenv artifacts
    script:
        - export cur_dir=$PWD
        - cd $CUSTOM_CI_DIR
        - doxygen Documentation/Doxyfile
        - cp -r documentation/html/ ${cur_dir}/public/
    artifacts:
        expire_in: 1 month
        paths:
            - ./public
    rules:
        - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
          changes:
            - CoMMA_lib/*.{cpp,h,md}
            - .gitlab-ci.yml
            - Documentation/Doxyfile

feat(util)!: Add function to build the coarse graph...
  tests/test_util.h
Due: job:init, CoMMA, test_a

test: Add function to compute coarse CSR graph after agglomeration
  postpro/examples_python/comma_tools.py
  postpro/examples_python/ex_several_agglo_levels.py
  tests/test_util.h
Due: job:init, CoMMA, test_a

fix: Exception thrown for bad reason
  CoMMA_lib/CoMMA.h
Due: job:init, CoMMA, test_a, pages

ci: Upgrade to CentOS8
  .gitlab-ci.yml
  README.md
Due: job:init, CoMMA, test_a, pages

fix(CCC): Fix correction if first CC eliminated
  CoMMA_lib/Coarse_Cell_Container.h
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a, pages

test: Fix tests
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a

ci: Test with slurm
  .gitlab-ci.yml
Due: job:init, CoMMA, test_a, pages

ci!: Simplify stages, more explicit names, make doc depends on build and test
  .gitlab-ci.yml
Due: job:init, CoMMA, test_a, pages

chore(aniso agglo): Remove unused member
  CoMMA_lib/Agglomerator.h
Due: job:init, CoMMA, test_a, pages

fix: Avoid warnings, complete previous commit
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a

fix: Avoid warnings
  CoMMA_lib/CoMMA.h
  CoMMA_lib/Neighbourhood.h
Due: job:init, CoMMA, test_a, pages

chore: Minor format
  CoMMA_lib/Agglomerator.h
  postpro/examples_python/ex_read_mesh.py
Due: job:init, CoMMA, test_a, pages

ci: Back to shell jobs
  .gitlab-ci.yml
Due: job:init, CoMMA, test_a, pages

build: Improve cmake + CI: Build python only in dbg
  .gitlab-ci.yml
  CMakeLists.txt
Due: job:init, CoMMA, test_a, pages

docs: Improve README about building
  README.md
Due: none

revert: Revert "chore: Minor format"
  CoMMA_lib/Agglomerator.h
  postpro/examples_python/ex_read_mesh.py
Due: job:init, CoMMA, test_a, pages

chore: Minor - format
  CoMMA_lib/Agglomerator.h
Due: job:init, CoMMA, test_a, pages

example: Fixes
  postpro/examples_python/ex_aniso_lines.py
  postpro/examples_python/ex_several_agglo_levels.py
  postpro/examples_python/test_from_comma_source.py
Due: none

chore: Change input argument name
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/CoMMA.cpp
  CoMMA_lib/CoMMA.h
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a, pages

test: Change variable names
  postpro/examples_python/ex_aniso_lines.py
  postpro/examples_python/ex_default_dualGPy.py
  postpro/examples_python/ex_read_mesh.py
  postpro/examples_python/ex_several_agglo_levels.py
  postpro/examples_python/test_dualGPy.py
  postpro/examples_python/test_from_comma_source.py
  postpro/examples_python/test_square.py
Due: none

doc: Improve doc
  CoMMA_lib/CoMMA.h
Due: job:init, CoMMA, test_a, pages

py: Improve python interface
  CoMMA_lib/CoMMA.cpp
Due: job:init, CoMMA, test_a, pages

release: Version v1.2
  CMakeLists.txt
  CoMMA_lib/CoMMA.cpp
  Documentation/Doxyfile
Due: job:init, CoMMA, test_a, pages

build: Improve CMakeLists.txt
  CMakeLists.txt
Due: job:init, CoMMA, test_a

refactor!: Switch off aniso agglo if cannot build lines
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/CoMMA.h
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a, pages

refactor(aniso): Improve handling
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/CoMMA.h
Due: job:init, CoMMA, test_a, pages

improvement(aniso): Explicitly skip line if only 1 cell in it
  CoMMA_lib/Agglomerator.h
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a, pages

fix(correction): Avoid agglomerating to anisotropic cells
  CoMMA_lib/Coarse_Cell_Container.h
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a, pages

examples: Fix bugs
  postpro/examples_python/ex_several_agglo_levels.py
Due: none

refactor(aniso): Clean structure
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/CoMMA.h
Due: job:init, CoMMA, test_a, pages

test: Fix format for meshio if more than one cell types
  postpro/examples_python/ex_several_agglo_levels.py
Due: none

feat(corr)!: Allow to choose the cardinality for a cell to be singular
  CoMMA_lib/CoMMA.cpp
  CoMMA_lib/CoMMA.h
  CoMMA_lib/Coarse_Cell_Container.h
  postpro/examples_python/ex_aniso_lines.py
  postpro/examples_python/ex_default_dualGPy.py
  postpro/examples_python/ex_read_mesh.py
  postpro/examples_python/ex_several_agglo_levels.py
  postpro/examples_python/test_dualGPy.py
  postpro/examples_python/test_from_comma_source.py
  postpro/examples_python/test_square.py
  tests/test_perf.cpp
  tests/test_profile.cpp
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a, pages

feat(correction)!: Avoid minimum cardinality constraint for receiver
  CoMMA_lib/Coarse_Cell_Container.h
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a, pages

feat(corr): Try agglomerating the whole singular cell...
  CoMMA_lib/Coarse_Cell.h
  CoMMA_lib/Coarse_Cell_Container.h
Due: job:init, CoMMA, test_a, pages

example: Description update + Deprecate some
  postpro/examples_python/README.md
  postpro/examples_python/deprecated/test_dualGPy.py
  postpro/examples_python/deprecated/test_from_comma_source.py
  postpro/examples_python/deprecated/test_square.py
Due: none

chore: Cleaning, removing old files
  postpro/examples_python/deprecated/aggl.py
  postpro/test_env_tmp/dualGPy/CGNS_Adapter.py
  postpro/test_env_tmp/dualGPy/Coarse_mesh.py
  postpro/test_env_tmp/dualGPy/Geometry.py
  postpro/test_env_tmp/dualGPy/Graph.py
  postpro/test_env_tmp/dualGPy/Mesh.py
  postpro/test_env_tmp/dualGPy/Utils.py
  postpro/test_env_tmp/dualGPy/__init__.py
  postpro/test_env_tmp/test_time.py
Due: none

refactor(test): Split tests into several files by theme
  CMakeLists.txt
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_defs.h
  tests/test_deprecated.cpp
  tests/test_graph.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_utils.cpp
Due: job:init, CoMMA, test_a

release: Version v1.3
  CMakeLists.txt
  CoMMA_lib/CoMMA.cpp
  Documentation/Doxyfile
Due: job:init, CoMMA, test_a, pages

chore: Renaming of directories for easier usage
  examples/meshes/.gitattributes
  examples/meshes/README.md
  examples/meshes/naca2d_structured_ansys.msh
  examples/meshes/raebis.vtu
  examples/scripts/README.md
  examples/scripts/comma_tools.py
  examples/scripts/deprecated/aggl.py
  examples/scripts/deprecated/test_dualGPy.py
  examples/scripts/deprecated/test_from_comma_source.py
  examples/scripts/deprecated/test_square.py
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_default_dualGPy.py
  examples/scripts/ex_read_mesh.py
  examples/scripts/ex_several_agglo_levels.py
Due: none
