Repository onera/CoMMA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

job:init:
  stage: init
  variables:
    GIT_STRATEGY: clone
    GIT_SUBMODULE_STRATEGY: none
  script:
  - echo "CUSTOM_CI_DIR=$PWD" >> build.env
  - git submodule update --init --depth 5 Catch2
  - git submodule update --init --depth 5 pybind11
  artifacts:
    reports:
      dotenv: ./build.env

job:build_dbg:
  stage: build
  needs:
  - job:init
  script:
  - cd $CUSTOM_CI_DIR
  - mkdir -p build
  - cd build
  - cmake -DCODAFLAGS=On -DCOVERAGE=On ..
  - make -j

job:test_dbg:
  stage: test
  needs:
  - job:init
  - job:build_dbg
  script:
  - cd $CUSTOM_CI_DIR
  - cd build
  - ./Comma_test -r junit > test_a.xml
  ...

job:build_rel:
  stage: build
  needs:
  - job:init
  script:
  - cd $CUSTOM_CI_DIR
  - mkdir -p build_rel
  - cd build_rel
  - cmake -DCODAFLAGS=On -DCMAKE_BUILD_TYPE=RelWithDebInfo ..
  - make -j

job:test_rel:
  stage: test
  needs:
  - job:init
  - job:build_rel
  script:
  - cd $CUSTOM_CI_DIR
  - cd build_rel
  - ./Comma_test

pages:
  stage: documentation
  needs:
  - job:init
  - job:build_dbg
  - job:test_dbg
  script:
  - cd $CUSTOM_CI_DIR
  - rm -rf documentation
  - doxygen Documentation/Doxyfile
  - cd -
  - rm -rf public
  - cp -r ${CUSTOM_CI_DIR}/documentation/html public
  artifacts:
    expire_in: 1 month
    paths:
    - public

test: Fix throw test and comment for readability
  tests/test_anisoagglo.cpp
  tests/test_structure.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

chore: Add clang-tidy
  .clang-tidy
  CMakeLists.txt
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/CoMMA.cpp
  CoMMA_lib/CoMMA.h
  CoMMA_lib/Coarse_Cell.h
  CoMMA_lib/Coarse_Cell_Container.h
  CoMMA_lib/Dual_Graph.h
  CoMMA_lib/Neighbourhood.h
  CoMMA_lib/Seeds_Pool.h
  CoMMA_lib/Util.h
  CoMMA_lib/deprecated/Bimap.h
  CoMMA_lib/deprecated/Priority_Pair.h
  CoMMA_lib/deprecated/Queue.h
  CoMMA_lib/deprecated/Tree.h
  CoMMA_lib/deprecated/templateHelpers.h
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_defs.h
  tests/test_deprecated.cpp
  tests/test_graph.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_perf.cpp
  tests/test_profile.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_util.h
  tests/test_utils.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

ci: Add Linting and formatting stage (no fail)
  .gitlab-ci.yml
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

ci: Add linting and format for python files (examples). No fails
  .gitlab-ci.yml
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

chore!: [Major] Re-structure directories
  .clang-tidy
  .gitlab-ci.yml
  CMakeLists.txt
  Documentation/Doxyfile
  format_clang.sh
  include/CoMMA/Agglomerator.h
  include/CoMMA/CoMMA.h
  include/CoMMA/CoMMATypes.h
  include/CoMMA/Coarse_Cell.h
  include/CoMMA/Coarse_Cell_Container.h
  include/CoMMA/Dual_Graph.h
  include/CoMMA/Neighbourhood.h
  include/CoMMA/README.md
  include/CoMMA/Seeds_Pool.h
  include/CoMMA/Util.h
  include/CoMMA/deprecated/Bimap.h
  include/CoMMA/deprecated/Priority_Pair.h
  include/CoMMA/deprecated/Queue.h
  include/CoMMA/deprecated/README.md
  include/CoMMA/deprecated/Tree.h
  include/CoMMA/deprecated/templateHelpers.h
  src/CoMMA.cpp
  tests/input/DualGPy.h
  tests/test_anisoagglo.cpp
  tests/test_defs.h
  tests/test_deprecated.cpp
  tests/test_graph.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_utils.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

doc: Fix link in deprecated
  include/CoMMA/deprecated/README.md
  include/CoMMA/deprecated/templateHelpers.h
Due: none

test: Minor fixes and cleaning
  tests/test_perf.cpp
  tests/test_util.h
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

test!: Change names
  .gitlab-ci.yml
  CMakeLists.txt
  images/hole_w_corners.png
  tests/DualGraphExamples.h
  tests/README.md
  tests/input/DualGPy.h
  tests/input/README.md
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_perf.cpp
  tests/test_profile.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_utils.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

test: Move tests and examples not directly used for testing into another dir
  CMakeLists.txt
  misc_scripts/README.md
  misc_scripts/header_profile.h
  misc_scripts/profiling/trace_categories.cpp
  misc_scripts/profiling/trace_categories.h
  misc_scripts/test_profile.cpp
  misc_scripts/test_util.h
  tests/test_perf.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

test: format
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_utils.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

chore: Update gitignore
  .gitignore
Due: none

test: Format - macros name in UPPERCASE
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Minor CMakeLists format - indentation
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

chore: Minor format headerguarda - then licence
  tests/DualGraphExamples.h
  tests/test_defs.h
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

chore: Change name and type of Max iteration variable
  include/CoMMA/CoMMA.h
  tests/test_structure.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

fix|build!: Fix install include path, fix 4ba8bb1
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

ci: Add test for install and pkg-config
  .gitlab-ci.yml
  misc_scripts/README.md
  misc_scripts/test_pkgconfig_compile.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

ci: Add `config_file` changes as trigger
  .gitlab-ci.yml
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

build!: Allow choice of types at config time
  .gitlab-ci.yml
  CMakeLists.txt
  config_files/CoMMAConfig.h.in
  format_clang.sh
  include/CoMMA/CoMMA.h
  include/CoMMA/CoMMADefs.h
  include/CoMMA/Seeds_Pool.h
  src/CoMMA.cpp
  tests/DualGraphExamples.h
  tests/test_defs.h
  tests/test_deprecated.cpp
  tests/test_graph.cpp
  tests/test_seedspool.cpp
  tests/test_utils.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

ci: Add test for 32- and 64-bit integers
  .gitlab-ci.yml
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

build: Add automatic test registration
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Minor Simplify coverage handling
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Improve CMakeLists.txt
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

doc: Update README
  README.md
Due: none

ci: Restore coverage fix #38
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

ci: Exclude more files from coverage
  .gitlab-ci.yml
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

release: Version v1.3.2
  CMakeLists.txt
  Documentation/Doxyfile
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

ci: Change from only: changes: to rules: changes and reuse rules
  .gitlab-ci.yml
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

CI: Don't trigger on tag pushing
  .gitlab-ci.yml
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

doc: Update README with citation info
  README.md
Due: none

doc: Change image according to theme
  README.md
Due: none

CI: Add configure and lint only changed files
  .gitlab-ci.yml
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

dev: Add pre-commit configuration
  .pre-commit-config.yaml
Due: none

build: Cleaning in CMakeLists
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

[CI] Avoid duplicate pipelines
  .gitlab-ci.yml
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

ci: Merge no_tag rules to default ones
  .gitlab-ci.yml
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

Path conditions:
  job:init: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml, Documentation/Doxyfile
  job:build_dbg: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml, Documentation/Doxyfile
  job:test_dbg: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml
  job:build_rel: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml, Documentation/Doxyfile
  job:test_rel: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml
  pages: any of: CoMMA_lib/*.{cpp,h,md}, .gitlab-ci.yml, Documentation/Doxyfile
