Repository onera/CoMMA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

job:init:
  stage: init
  variables:
    GIT_STRATEGY: clone
    GIT_SUBMODULE_STRATEGY: none
  script:
  - echo "CUSTOM_CI_DIR=$PWD" >> build.env
  - git submodule update --init --depth 5 Catch2
  - git submodule update --init --depth 5 pybind11
  artifacts:
    reports:
      dotenv: ./build.env

job:build_dbg:
  stage: build
  needs:
  - job:init
  script:
  - cd $CUSTOM_CI_DIR
  - mkdir -p build
  - cd build
  - cmake -DCODAFLAGS=On -DCOVERAGE=On ..
  - make -j

job:test_dbg:
  stage: test
  needs:
  - job:init
  - job:build_dbg
  script:
  - cd $CUSTOM_CI_DIR
  - cd build
  - ./Comma_test -r junit > test_a.xml
  ...

job:build_rel:
  stage: build
  needs:
  - job:init
  script:
  - cd $CUSTOM_CI_DIR
  - mkdir -p build_rel
  - cd build_rel
  - cmake -DCODAFLAGS=On -DCMAKE_BUILD_TYPE=RelWithDebInfo ..
  - make -j

job:test_rel:
  stage: test
  needs:
  - job:init
  - job:build_rel
  script:
  - cd $CUSTOM_CI_DIR
  - cd build_rel
  - ./Comma_test

pages:
  stage: documentation
  needs:
  - job:init
  - job:build_dbg
  - job:test_dbg
  script:
  - cd $CUSTOM_CI_DIR
  - rm -rf documentation
  - doxygen Documentation/Doxyfile
  - cd -
  - rm -rf public
  - cp -r ${CUSTOM_CI_DIR}/documentation/html public
  artifacts:
    expire_in: 1 month
    paths:
    - public

example: Format with black and isort and check with ruff
  examples/scripts/comma_tools.py
  examples/scripts/deprecated/aggl.py
  examples/scripts/deprecated/test_dualGPy.py
  examples/scripts/deprecated/test_from_comma_source.py
  examples/scripts/deprecated/test_square.py
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_default_dualGPy.py
  examples/scripts/ex_read_mesh.py
  examples/scripts/ex_several_agglo_levels.py
  examples/scripts/pyproject.toml
Due: none

chore: Ignore commit introducing Black...
  .git-blame-ignore-revs
Due: none

docs: Improve README with link to python examples
  README.md
Due: none

format: Formatting C++ code with clang-format
  .clang-format
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/CoMMA.cpp
  CoMMA_lib/CoMMA.h
  CoMMA_lib/CoMMATypes.h
  CoMMA_lib/Coarse_Cell.h
  CoMMA_lib/Coarse_Cell_Container.h
  CoMMA_lib/Dual_Graph.h
  CoMMA_lib/Neighbourhood.h
  CoMMA_lib/Seeds_Pool.h
  CoMMA_lib/Util.h
  CoMMA_lib/deprecated/Bimap.h
  CoMMA_lib/deprecated/Priority_Pair.h
  CoMMA_lib/deprecated/Queue.h
  CoMMA_lib/deprecated/Tree.h
  CoMMA_lib/deprecated/templateHelpers.h
  format_clang.sh
  tests/header_profile.h
  tests/input/DualGPy.h
  tests/profiling/trace_categories.h
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_defs.h
  tests/test_deprecated.cpp
  tests/test_graph.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_perf.cpp
  tests/test_profile.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_util.h
  tests/test_utils.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

format: Add clang-format commit SHA1 to blame-ignore
  .git-blame-ignore-revs
Due: none

doc(examples): Improve description
  examples/scripts/README.md
  examples/scripts/ex_aniso_lines.py
Due: none

docs: Update README
  README.md
Due: none

chore: Deprecate scripts
  CODA_transfer.sh
  README.md
  compile.sh
Due: none

docs: Add license mention to README
  README.md
Due: none

docs: Add user manual
  Documentation/CoMMA_user_manual.pdf
  README.md
Due: none

CI: Create main.yml
  .github/workflows/main.yml
Due: none

CI: Trigger only for push on main
  .github/workflows/main.yml
Due: none

docs: Forgotten parameter description
  CoMMA_lib/Coarse_Cell_Container.h
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

deploy: 02453efc42b227e5f6b92c771a75145d4dde21dc
  _coarse___cell___container_8h_source.html
  class_coarse___cell___container.html
Due: none

make: Add install targets
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

test!: Change test name
  .gitlab-ci.yml
  CMakeLists.txt
  README.md
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

make: Minor Improve out messages
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

make|test!: Add test target to cmake
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Comment out useless (for the moment) config files
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Forgotten `message(STATUS )`, completes 07cfd70
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Add documentation target
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Fix e13f20a - documentation target
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: [Doc target] Add user manual
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Minor - Format and insights
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Improve CMake project description
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

doc: Improve doxygen
  Documentation/Doxyfile
  images/logos/logo-CoMMA_70x70.jpg
Due: job:init, job:build_dbg, job:build_rel, pages

build!: Bump cmake version from 3.14 to 3.15
  CMakeLists.txt
  README.md
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Check for python and change python installing directory
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

build: Add support for pkg-config
  CMakeLists.txt
  config_files/comma.pc.in
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

doc: Update REAMDE with new cmake options
  README.md
Due: none

doc: Bad parenthesis
  README.md
Due: none

build: Install python examples
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

doc: Change versioning appeareance in Doxy
  Documentation/Doxyfile
Due: job:init, job:build_dbg, job:build_rel, pages

release: Version v1.3.1
  CMakeLists.txt
  CoMMA_lib/CoMMA.cpp
  Documentation/Doxyfile
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

chore!: Add namespace for CoMMA
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/CoMMA.cpp
  CoMMA_lib/CoMMA.h
  CoMMA_lib/CoMMATypes.h
  CoMMA_lib/Coarse_Cell.h
  CoMMA_lib/Coarse_Cell_Container.h
  CoMMA_lib/Dual_Graph.h
  CoMMA_lib/Neighbourhood.h
  CoMMA_lib/Seeds_Pool.h
  CoMMA_lib/Util.h
  CoMMA_lib/deprecated/Bimap.h
  CoMMA_lib/deprecated/Priority_Pair.h
  CoMMA_lib/deprecated/Queue.h
  CoMMA_lib/deprecated/Tree.h
  CoMMA_lib/deprecated/templateHelpers.h
  tests/input/DualGPy.h
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_defs.h
  tests/test_deprecated.cpp
  tests/test_graph.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_perf.cpp
  tests/test_profile.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_utils.cpp
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

chore!: Avoid using namespace std
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/CoMMA.h
  CoMMA_lib/Coarse_Cell.h
  CoMMA_lib/Coarse_Cell_Container.h
  CoMMA_lib/Dual_Graph.h
  CoMMA_lib/Neighbourhood.h
  CoMMA_lib/Seeds_Pool.h
  CoMMA_lib/Util.h
  CoMMA_lib/deprecated/Bimap.h
  CoMMA_lib/deprecated/Priority_Pair.h
  CoMMA_lib/deprecated/Queue.h
  CoMMA_lib/deprecated/Tree.h
  tests/input/DualGPy.h
  tests/test_deprecated.cpp
  tests/test_util.h
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

chore: Avoid warnings "dtor on non-final but non-virtual dtor" in intel
  CoMMA_lib/Neighbourhood.h
  CoMMA_lib/Seeds_Pool.h
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel, pages

build: Little improvement for CODAFLAGS option
  CMakeLists.txt
Due: job:init, job:build_dbg, job:test_dbg, job:build_rel, job:test_rel

Path conditions:
  job:init: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml, Documentation/Doxyfile
  job:build_dbg: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml, Documentation/Doxyfile
  job:test_dbg: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml
  job:build_rel: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml, Documentation/Doxyfile
  job:test_rel: any of: CoMMA_lib/*.{cpp,h}, tests/**/*.{cpp,h}, CMakeLists.txt, .gitlab-ci.yml
  pages: any of: CoMMA_lib/*.{cpp,h,md}, .gitlab-ci.yml, Documentation/Doxyfile
