Repository onera/CoMMA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job:test_install_pkgconfig, pages

job:test_install_pkgconfig:
  stage: test
  needs:
  - job:init
  - job:build_dbg
  script:
  - cd $CUSTOM_CI_DIR/build
  - make install
  - g++ ../misc_scripts/test_pkgconfig_compile.cpp -o test_pkgconfig_compile `PKG_CONFIG_PATH=${INSTALL_DIR}/lib64/pkgconfig pkg-config --cflags --libs comma`

pages:
  stage: documentation
  needs:
  - job: job:init
  - job: job:test_dbg
    artifacts: false
  script:
  - cd $CUSTOM_CI_DIR
  - rm -rf documentation
  - doxygen Documentation/Doxyfile
  - cd -
  - rm -rf public
  - cp -r ${CUSTOM_CI_DIR}/documentation/html public
  artifacts:
    expire_in: 1 month
    paths:
    - public

build: Add support for installing with spack
  README.md
  config_files/spack/comma/fix_pkgconfig_v1.3.1.patch
  config_files/spack/comma/package.py
  config_files/spack/comma/v1.0_install.patch
  config_files/spack/comma/v1.1_install.patch
  config_files/spack/comma/v1.3_install.patch
Due: none

docs: Fix `cmake` commands in README
  README.md
Due: none

chore: Increase threshold for large files in pre-commit
  .pre-commit-config.yaml
Due: none

example: Add a RAE mesh that can be used right away
  examples/meshes/README.md
  examples/meshes/raebis_ansys.msh
Due: none

example: Add functions to prepare data for output with Meshio
  examples/scripts/comma_tools.py
Due: none

examples: Update examples
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_default_dualGPy.py
  examples/scripts/ex_read_mesh.py
  examples/scripts/ex_several_agglo_levels.py
Due: none

examples: Format
  examples/scripts/README.md
  examples/scripts/comma_tools.py
  examples/scripts/ex_rae.py
Due: none

examples: Remove execution permission
  examples/scripts/ex_rae.py
Due: none

format: Avoid false positive with clang-format
  config_files/CoMMAConfig.h.in
Due: job:test_install_pkgconfig

feat!: Add option for limiting the lenght of aniso lines
  include/CoMMA/Agglomerator.h
  include/CoMMA/CoMMA.h
  src/CoMMA.cpp
  tests/test_anisoagglo.cpp
  tests/test_structure.cpp
Due: job:test_install_pkgconfig, pages

examples: Update example after addition of max cells in line
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_default_dualGPy.py
  examples/scripts/ex_rae.py
  examples/scripts/ex_read_mesh.py
  examples/scripts/ex_several_agglo_levels.py
Due: none

deploy: b6650f93b306183d547acfd478b1bfc4647a8394
  _agglomerator_8h_source.html
  _co_m_m_a_8h.html
  _co_m_m_a_8h.js
  _co_m_m_a_8h_source.html
  classcomma_1_1_agglomerator___anisotropic-members.html
  classcomma_1_1_agglomerator___anisotropic.html
  classcomma_1_1_agglomerator___anisotropic.js
  functions.html
  functions_a.html
  functions_func.html
  functions_vars.html
  index.html
  namespacecomma.html
  namespacecomma.js
  namespacemembers.html
  namespacemembers_func.html
  navtreedata.js
  navtreeindex0.js
  navtreeindex1.js
  navtreeindex2.js
  navtreeindex3.js
  search/all_0.js
  search/all_1.js
  search/functions_0.js
  search/variables_0.js
Due: none

format: Update clang-format
  .clang-format
  .pre-commit-config.yaml
  include/CoMMA/Agglomerator.h
  include/CoMMA/CoMMA.h
  include/CoMMA/Coarse_Cell.h
  include/CoMMA/Coarse_Cell_Container.h
  include/CoMMA/Dual_Graph.h
  include/CoMMA/Neighbourhood.h
  include/CoMMA/Seeds_Pool.h
  include/CoMMA/Util.h
  include/CoMMA/deprecated/Bimap.h
  include/CoMMA/deprecated/Priority_Pair.h
  include/CoMMA/deprecated/Queue.h
  include/CoMMA/deprecated/Tree.h
  include/CoMMA/deprecated/templateHelpers.h
  src/CoMMA.cpp
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_deprecated.cpp
  tests/test_graph.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_utils.cpp
Due: job:test_install_pkgconfig, pages

refactor: Prepare code to hold min edge argument in AR computation
  include/CoMMA/Agglomerator.h
  tests/test_isoagglo.cpp
Due: job:test_install_pkgconfig, pages

ci: Force usage of personal clang
  .gitlab-ci.yml
Due: job:test_install_pkgconfig, pages

examples: Add utility to export aniso lines
  examples/scripts/comma_tools.py
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_rae.py
Due: none

format: Blame-ignore latest clang-format changes [skip ci]
  .git-blame-ignore-revs
Due: none

chore: Minor refactor and cleaning
  include/CoMMA/Agglomerator.h
  include/CoMMA/Dual_Graph.h
Due: job:test_install_pkgconfig, pages

feat(aniso)!: Give user more freedom to tweak line construction
  include/CoMMA/Agglomerator.h
  include/CoMMA/CoMMA.h
  include/CoMMA/CoMMADefs.h
  include/CoMMA/Dual_Graph.h
  src/CoMMA.cpp
  tests/test_anisoagglo.cpp
  tests/test_structure.cpp
Due: job:test_install_pkgconfig, pages

fix: Always check both for min and max
  include/CoMMA/Agglomerator.h
Due: job:test_install_pkgconfig, pages

reafactor: Adding CellFeature for convenience
  include/CoMMA/Agglomerator.h
  tests/test_isoagglo.cpp
Due: job:test_install_pkgconfig, pages

test: Add simple tests for cell-features and min_edge
  tests/test_isoagglo.cpp
Due: none

improvement: Improve CellFeatures
  include/CoMMA/Agglomerator.h
  include/CoMMA/Dual_Graph.h
  tests/test_isoagglo.cpp
Due: job:test_install_pkgconfig, pages

feat!: Add dedicated class for computing AR
  include/CoMMA/ARComputer.h
  include/CoMMA/Agglomerator.h
Due: job:test_install_pkgconfig, pages

build: Update pybind11 to v1.12.0
  CMakeLists.txt
Due: job:test_install_pkgconfig

deploy: 5512e16fda583d514f0416232b092537a1d2dbae
  _agglomerator_8h_source.html
  _bimap_8h_source.html
  _co_m_m_a_8h_source.html
  _coarse___cell_8h_source.html
  _coarse___cell___container_8h_source.html
  _dual___graph_8h_source.html
  _neighbourhood_8h_source.html
  _priority___pair_8h_source.html
  _queue_8h_source.html
  _seeds___pool_8h_source.html
  _tree_8h_source.html
  _util_8h_source.html
  template_helpers_8h_source.html
Due: none

fix(ARC): Special case if 2 fine cells
  include/CoMMA/ARComputer.h
Due: job:test_install_pkgconfig, pages

feat(ARC): Add tolerance for null distances
  include/CoMMA/ARComputer.h
Due: job:test_install_pkgconfig, pages

style(ARC): Format
  include/CoMMA/ARComputer.h
Due: job:test_install_pkgconfig, pages

fix: Fix python bindings, complete f2fe37c
  CMakeLists.txt
Due: job:test_install_pkgconfig

fix: Change type of enum arguments otherwise python call wouldn't work
  include/CoMMA/CoMMA.h
  src/CoMMA.cpp
Due: job:test_install_pkgconfig, pages

examples: Minor fixes
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_rae.py
  examples/scripts/ex_read_mesh.py
Due: none

fix(ARC): Fix AR so that it is non-dimensional
  include/CoMMA/ARComputer.h
Due: job:test_install_pkgconfig, pages

feat(ARC): Add utility functions
  include/CoMMA/ARComputer.h
Due: job:test_install_pkgconfig, pages

feat: Add AR computer Max-bary-dist / radius
  include/CoMMA/ARComputer.h
Due: job:test_install_pkgconfig, pages

format: Update clang-format
  .clang-format
  include/CoMMA/Agglomerator.h
  include/CoMMA/CoMMA.h
  include/CoMMA/Coarse_Cell.h
  include/CoMMA/Coarse_Cell_Container.h
  include/CoMMA/Dual_Graph.h
  include/CoMMA/Seeds_Pool.h
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_isoagglo.cpp
  tests/test_structure.cpp
Due: job:test_install_pkgconfig, pages

format: Add recent updates to git blame
  .git-blame-ignore-revs
Due: none

test|refactor: Clean and factorize test environment
  examples/scripts/deprecated/test_dualGPy.py
  examples/scripts/deprecated/test_from_comma_source.py
  examples/scripts/deprecated/test_square.py
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_default_dualGPy.py
  examples/scripts/ex_rae.py
  examples/scripts/ex_read_mesh.py
  examples/scripts/ex_several_agglo_levels.py
  tests/DualGraphExamples.h
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_utils.cpp
Due: none

API: Overload main function with argument classes
  include/CoMMA/Args.h
  include/CoMMA/CoMMA.h
  tests/test_structure.cpp
Due: job:test_install_pkgconfig, pages

fix: Fix SIGSEV if Release flags
  include/CoMMA/Args.h
  tests/test_structure.cpp
Due: job:test_install_pkgconfig, pages

Path conditions:
  job:test_install_pkgconfig: any of: include/CoMMA/*.h, CMakeLists.txt, .gitlab-ci.yml, config_files/*.in
  pages: any of: include/CoMMA/*.{h,md}, src/*.cpp, .gitlab-ci.yml, Documentation/Doxyfile
