Repository onera/CoMMA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job:init, CoMMA, test_a, pages

.gitlab-ci.yml:

# Prevent duplicated pipeline by removing MR pipelines
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: always
variables:
  GIT_STRATEGY: none
  GIT_SUBMODULE_STRATEGY: none
#Common to all stages
default:
  tags: # Use shell instead of submitting pipeline to slurm
    - shell
  before_script:
    # Load python version, compilers and modify path to get local python packages (gcovr)
    - source /stck/rmilani/GitLab_CI_envs/CoMMA_env_el7.sh

stages:
    - init
    - build 
    - test
    - documentation

job:init:
    stage: init
    variables: # Do it manually beacause we do not have git-lfs and that will cause problem
        GIT_STRATEGY: none
        GIT_SUBMODULE_STRATEGY: none
    before_script:
        - module purge
        # Load git-lfs otherwise, cloning fails
        # - source /scratchm/sonics/dist/spiro_el8_spack.sh && module load git-lfs-3.1.2-gcc-8.3.1-3mp4krr # CentOS8
        - source /scratchm/sonics/prod/spacky_2022-05-30/spacky.sh && module load git-lfs-3.1.2-gcc-11.2.0-kg4euxm
    only:
        changes:
            - CoMMA_lib/*.{cpp,h}
            - tests/**/*.{cpp,h}
    script: # Set a commun directory and make it available
        - echo "CUSTOM_CI_DIR=$PWD" >> build.env
        - (cd CoMMA_CI && git fetch) || (git clone git@gitlab.onera.net:numerics/solver/comma.git CoMMA_CI)
        - cd CoMMA_CI
        - git submodule update --init Catch2
        - git submodule update --init pybind11
    artifacts:
        reports:
            dotenv: build.env

CoMMA:
    stage: build
    needs: ['job:init']
    only:
        changes:
            - CoMMA_lib/*.{cpp,h}
            - tests/**/*.{cpp,h}
    script:
        - echo "Dir $CUSTOM_CI_DIR"
        - cd $CUSTOM_CI_DIR/CoMMA_CI
        - mkdir -p build_CI && cd build_CI
        - cmake -DCODAFLAGS=On ..
        - make -j
    artifacts:
        expire_in: 1 month
        paths:
        - build_CI/
test_a:
    stage: test
    needs: ['job:init', CoMMA]
    only:
        changes:
            - CoMMA_lib/*.{cpp,h}
            - tests/**/*.{cpp,h}
    script:
        - cd $CUSTOM_CI_DIR/CoMMA_CI
        - mkdir -p build_CI
        - cd build_CI
        - ./Comma_test -r junit > test_a.xml
        - python3 -m gcovr --xml-pretty --exclude '\.\./pybind11/' --exclude '\.\./Catch2/' --print-summary -o coverage.xml --root ..
    coverage: /^\s*lines:\s*\d+.\d+\%/
    artifacts:
        expire_in: 1 month
        reports:
            junit: $CUSTOM_CI_DIR/CoMMA_CI/build_CI/test_a.xml
            coverage_report:
                coverage_format: cobertura
                path: $CUSTOM_CI_DIR/CoMMA_CI/build_CI/coverage.xml
pages:
    stage: documentation
    needs: ['job:init'] #job:init is needed to get dotenv artifacts
    script:
        - export cur_dir=$PWD
        - cd $CUSTOM_CI_DIR/CoMMA_CI
        - doxygen Documentation/Doxyfile
        - cd $cur_dir
        - cp -r $CUSTOM_CI_DIR/CoMMA_CI/documentation/html/ public/
    artifacts:
        expire_in: 1 month
        paths:
            - ./public
    rules:
        - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
          changes:
            - CoMMA_lib/*.{cpp,h}

Update readme with logo
  README.md
Due: none

lfs: Restore meshes to git from lfs
  postpro/meshes/naca2d_structured_ansys.msh
  postpro/meshes/raebis.vtu
Due: none

Improve CI
  .gitlab-ci.yml
Due: none

Adapt CI after removing LFS support
  .gitlab-ci.yml
Due: none

doc: Add videos of examples
  images/videos/bnd_full_init.gif
  images/videos/neigh_pt_init.gif
Due: none

doc: Add gif with examples
  README.md
Due: none

Add link to main function
  README.md
Due: none

CI: minor update
  .gitlab-ci.yml
Due: none

release: Version 1.1
  Documentation/Doxyfile
Due: none

chore: Move from macro to constexpr + Doc
  CoMMA_lib/CoMMA.h
Due: job:init, CoMMA, test_a, pages

chore(aniso_agglo): Explicit initialization and optim (reserve)
  CoMMA_lib/Agglomerator.h
Due: job:init, CoMMA, test_a, pages

feat(aniso_agglo)!: Add to aniso line only if direction is preserved
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/Util.h
Due: job:init, CoMMA, test_a, pages

chore: Add forgotten 'using namespace std'
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/Coarse_Cell.h
  CoMMA_lib/Coarse_Cell_Container.h
Due: job:init, CoMMA, test_a, pages

chore: Swith from typedef to using in CCC
  CoMMA_lib/Coarse_Cell_Container.h
Due: job:init, CoMMA, test_a, pages

example: Add function to compute wall distance
  postpro/examples_python/comma_tools.py
Due: none

chore: Minor optim (constant iterators)
  CoMMA_lib/Agglomerator.h
Due: job:init, CoMMA, test_a, pages

chore: Minor (format)
  CoMMA_lib/Dual_Graph.h
Due: job:init, CoMMA, test_a, pages

chore: Minor reorganization of input arguments for readability
  CoMMA_lib/CoMMA.h
Due: job:init, CoMMA, test_a, pages

feat(aniso)!: Let user choose whether to have aniso lines of odd length
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/CoMMA.cpp
  CoMMA_lib/CoMMA.h
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a, pages

test(aniso): Add test forbidding odd length
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a

examples: Update after new input argument
  postpro/examples_python/ex_aniso_lines.py
  postpro/examples_python/ex_default_dualGPy.py
  postpro/examples_python/ex_read_mesh.py
  postpro/examples_python/ex_several_agglo_levels.py
  postpro/examples_python/test_dualGPy.py
  postpro/examples_python/test_from_comma_source.py
  postpro/examples_python/test_square.py
Due: none

test: Minor - switch to constexpr
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a

chore(aniso): Better chose starting point of aniso line agglomeration
  CoMMA_lib/Agglomerator.h
Due: job:init, CoMMA, test_a, pages

example: Add messages for mesh reading/creating
  postpro/examples_python/ex_aniso_lines.py
  postpro/examples_python/ex_default_dualGPy.py
  postpro/examples_python/ex_read_mesh.py
  postpro/examples_python/ex_several_agglo_levels.py
Due: none

test(aniso): Add test for line direction
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a

docs: Add CI info to README
  CoMMA_lib/CoMMA.h
  README.md
Due: job:init, CoMMA, test_a, pages

docs: Typo in README
  README.md
Due: none

docs: typo in doxy reference
  CoMMA_lib/Util.h
Due: job:init, CoMMA, test_a, pages

docs: Update README
  README.md
Due: none

perf!: Improve performance of lines building
  CoMMA_lib/Agglomerator.h
  CoMMA_lib/Dual_Graph.h
Due: job:init, CoMMA, test_a, pages

doc: Format for Doxy
  CoMMA_lib/Agglomerator.h
Due: job:init, CoMMA, test_a, pages

perf(correction)!: Refactor
  CoMMA_lib/Coarse_Cell_Container.h
Due: job:init, CoMMA, test_a, pages

test(correction): Add test for unconnected cell and 2 singular cells
  tests/input/DualGPy.h
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a

fix: Minor typo for readability
  CoMMA_lib/Coarse_Cell_Container.h
Due: job:init, CoMMA, test_a, pages

chore: Deprecate unused `using`
  CoMMA_lib/Coarse_Cell_Container.h
Due: job:init, CoMMA, test_a, pages

refactor: Compactness computation
  CoMMA_lib/Dual_Graph.h
Due: job:init, CoMMA, test_a, pages

test: Add compactness computation
  tests/test_structure.cpp
Due: job:init, CoMMA, test_a

refactor: Compute compactness of current CC iteratively
  CoMMA_lib/Agglomerator.h
Due: job:init, CoMMA, test_a, pages

build: Minor - Choose Debug if type not provided
  CMakeLists.txt
Due: none

CI: Trigger also after cmake files changes
  .gitlab-ci.yml
Due: none
