Repository onera/CoMMA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job:test_install_pkgconfig, pages

Path conditions:
  job:test_install_pkgconfig: any of: include/CoMMA/*.h, CMakeLists.txt, .gitlab-ci.yml, config_files/*.in
  pages: any of: include/CoMMA/*.{h,md}, src/*.cpp, .gitlab-ci.yml, Documentation/Doxyfile

format: Yet another clanf-format update
  .clang-format
  include/CoMMA/Agglomerator.h
  include/CoMMA/Coarse_Cell.h
  include/CoMMA/Coarse_Cell_Container.h
  include/CoMMA/Dual_Graph.h
  include/CoMMA/Neighbourhood.h
  include/CoMMA/Seeds_Pool.h
  include/CoMMA/Util.h
  include/CoMMA/deprecated/Priority_Pair.h
  include/CoMMA/deprecated/Tree.h
  tests/DualGraphExamples.h
  tests/test_structure.cpp
Due: job:test_install_pkgconfig, pages

format: Add recent updates to git blame
  .git-blame-ignore-revs
Due: none

feat(iso agglo)!: Add possibility to choose AR computation
  include/CoMMA/ARComputer.h
  include/CoMMA/Agglomerator.h
  include/CoMMA/Args.h
  include/CoMMA/CoMMA.h
  include/CoMMA/CoMMADefs.h
  src/CoMMA.cpp
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_defs.h
  tests/test_isoagglo.cpp
  tests/test_structure.cpp
Due: job:test_install_pkgconfig, pages

refactor: Use enum in arguments type and exports enum to python
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_default_dualGPy.py
  examples/scripts/ex_rae.py
  examples/scripts/ex_read_mesh.py
  examples/scripts/ex_several_agglo_levels.py
  include/CoMMA/Agglomerator.h
  include/CoMMA/Args.h
  include/CoMMA/CoMMA.h
  src/CoMMA.cpp
Due: job:test_install_pkgconfig, pages

util: Add function for filtering cells according to number of edges
  examples/scripts/ex_rae.py
  include/CoMMA/Util.h
  src/CoMMA.cpp
Due: job:test_install_pkgconfig, pages

chore: Simplify AnisoArgs constructor
  include/CoMMA/Args.h
Due: job:test_install_pkgconfig, pages

fix(aniso)!: Fix bugs in lines computations
  include/CoMMA/Agglomerator.h
  tests/test_anisoagglo.cpp
Due: job:test_install_pkgconfig, pages

chore: Minor cleaning and optimization
  include/CoMMA/Agglomerator.h
  include/CoMMA/CoMMA.h
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_isoagglo.cpp
  tests/test_structure.cpp
Due: job:test_install_pkgconfig, pages

test: Add test for cell filtering
  tests/test_utils.cpp
Due: none

chore(py): No need for submodules, use int instead of enums, add doc
  include/CoMMA/CoMMADefs.h
  src/CoMMA.cpp
Due: job:test_install_pkgconfig, pages

deploy: 866d5f7f2f10ac38527f658926e3c1f3c42af19c
  _agglomerator_8h_source.html
  _co_m_m_a_8h_source.html
  classcomma_1_1_agglomerator-members.html
  classcomma_1_1_agglomerator.html
  classcomma_1_1_agglomerator.js
  classcomma_1_1_agglomerator___anisotropic-members.html
  classcomma_1_1_agglomerator___anisotropic.html
  classcomma_1_1_agglomerator___anisotropic.js
  classcomma_1_1_agglomerator___biconnected-members.html
  classcomma_1_1_agglomerator___biconnected.html
  classcomma_1_1_agglomerator___biconnected.js
  classcomma_1_1_agglomerator___isotropic-members.html
  classcomma_1_1_agglomerator___isotropic.html
  classcomma_1_1_agglomerator___isotropic.js
  classcomma_1_1_agglomerator___iterative-members.html
  classcomma_1_1_agglomerator___iterative.html
  classcomma_1_1_agglomerator___iterative.js
  functions_a.html
  functions_func.html
  namespacecomma.html
  navtreeindex0.js
  search/all_1.js
  search/functions_0.js
Due: none

chore: Minor optim in filtering util
  include/CoMMA/Util.h
  tests/test_utils.cpp
Due: job:test_install_pkgconfig, pages

feat(py): Use *weighted* average for coarse barycenters
  examples/scripts/comma_tools.py
Due: none

deploy: e84eda573e591f1728200c03185188c456f936d1
  _neighbourhood_8h_source.html
  _seeds___pool_8h_source.html
  _util_8h.html
  _util_8h.js
  _util_8h_source.html
  namespacecomma.html
  namespacecomma.js
  namespacemembers.html
  namespacemembers_func.html
  navtreeindex0.js
  navtreeindex3.js
  search/all_6.js
  search/functions_5.js
Due: none

build: Add pybind as external dependency rather than submodule
  .gitmodules
  CMakeLists.txt
  config_files/spack/comma/package.py
Due: job:test_install_pkgconfig

ci|fix: Removing pybnd as module and export path to sources
  .gitlab-ci.yml
Due: job:test_install_pkgconfig, pages

refactor: Change AR in order to use less roots and more powers
  include/CoMMA/ARComputer.h
  include/CoMMA/Agglomerator.h
  include/CoMMA/Util.h
  tests/test_isoagglo.cpp
Due: job:test_install_pkgconfig, pages

fix: Fix wrong total number of faces
  include/CoMMA/Dual_Graph.h
Due: job:test_install_pkgconfig, pages

doc: Update README
  README.md
Due: none

refactor!: Modify output fc2cc and remove it as input from python signature
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_default_dualGPy.py
  examples/scripts/ex_rae.py
  examples/scripts/ex_read_mesh.py
  examples/scripts/ex_several_agglo_levels.py
  include/CoMMA/CoMMA.h
  src/CoMMA.cpp
Due: job:test_install_pkgconfig, pages

test: Add tests for ARComputer
  CMakeLists.txt
  include/CoMMA/ARComputer.h
  tests/test_ARComputer.cpp
Due: job:test_install_pkgconfig, pages

test: Make it more Catch2-idiomatic
  tests/test_anisoagglo.cpp
  tests/test_defs.h
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_utils.cpp
Due: none

chore: Silence clang-tidy warning
  src/CoMMA.cpp
Due: pages

feat!: Final switch to new AR computation way
  include/CoMMA/Agglomerator.h
  tests/test_isoagglo.cpp
Due: job:test_install_pkgconfig, pages

fix|chore: Bug in external weights estimation + some cleaning
  include/CoMMA/Agglomerator.h
  include/CoMMA/Dual_Graph.h
  tests/test_isoagglo.cpp
Due: job:test_install_pkgconfig, pages

test: Add minor checks
  tests/test_ARComputer.cpp
Due: none

doc: Bad param in doxy
  include/CoMMA/ARComputer.h
Due: job:test_install_pkgconfig, pages

doc: Add AR note and update doc
  Documentation/AR_note.pdf
  README.md
  include/CoMMA/README.md
Due: pages

doc: Add link to AR note
  include/CoMMA/README.md
Due: pages

chore: Silence tidy warnings
  include/CoMMA/Args.h
  tests/test_ARComputer.cpp
Due: job:test_install_pkgconfig, pages

example: Fix examples after AR merge
  examples/scripts/comma_tools.py
  examples/scripts/ex_aniso_lines.py
  examples/scripts/ex_default_dualGPy.py
  examples/scripts/ex_rae.py
  examples/scripts/ex_read_mesh.py
  examples/scripts/ex_several_agglo_levels.py
Due: none

build|test|ci: Make Catch2 *external* dependency
  .gitlab-ci.yml
  .gitmodules
  CMakeLists.txt
  config_files/spack/comma/package.py
  tests/test_ARComputer.cpp
  tests/test_anisoagglo.cpp
  tests/test_correction.cpp
  tests/test_deprecated.cpp
  tests/test_graph.cpp
  tests/test_isoagglo.cpp
  tests/test_neighbourhood.cpp
  tests/test_seedspool.cpp
  tests/test_structure.cpp
  tests/test_utils.cpp
Due: job:test_install_pkgconfig, pages

ci: Move check for python tools only for the init rule
  .gitlab-ci.yml
Due: job:test_install_pkgconfig, pages

ci|fix: Add export path to Catch2 to default:before_script
  .gitlab-ci.yml
Due: job:test_install_pkgconfig, pages

spack: Fix pybind11 name
  config_files/spack/comma/package.py
Due: none

spack: Improve pybind version according to python version
  config_files/spack/comma/package.py
Due: none

chore: Remove perfetto
  .gitmodules
  config_files/spack/comma/package.py
Due: none

doc: Update README after making dependencies external
  README.md
Due: none
